.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cssqueries {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cssquery {
  padding: 40px;
}

.status {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.eantourl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  font-size: 20px;
  padding: 10px;
}

header {
  background-color: pink;
  height: 20px;
  padding-top: 20px;
}

.connexionBox {
  background-color: #eceff1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.connexion {
  max-width: 500px;
  font-size: 24px;
}
.connexion > * {
  width: 100%;
}
.connexion > input {
  box-sizing: border-box;
  font-size: 24px;
  padding: 5px;
  border: 5px solid #2196F3;
  border-width: 0 0 5px 0;
  outline: none;
}